header {
  display: flex;
}
body{
  font-family: monospace;
}
.col {
  flex: 1;
}
.extraWide {
  flex: 10;
}
#title {
  font-size: 5em;
  text-align: center;
}
#username {
  text-align: right;
  margin: auto;
}
#letterbox {
  width: 30%;
  padding: 2em;
  flex: 1;
}
#availLetter {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}
#man {
  white-space: pre;
  width: 30%;
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
  flex: 1;
  text-align: right;
}
.gamelayout {
  width: 700px;
  margin: auto;
}
.row {
  display: flex;
  width: 100%;
}
#letters {
  width: 318px;
  font-size: 20pt;
}
#letters tr td {
  width: 53px;
  text-align: center;
  background-color: #ccff02;
  border-radius: 0.2em;
  border: 2px solid #263646;
}
#word {
  display: flex;
  justify-content: center;
}
.crossout {
  text-decoration: line-through;
  color: rgb(190, 190, 190);
  background-color: #263646 !important;
}
.textbox {
  flex: 1;
  position: relative;
  left: 85px;
}
.submit {
  margin: auto;
}
input[type="submit"] {
  font-size: 15pt;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border: 2px solid #ccff02;
  border-radius: 4px;
  border-radius: 0.6em;
  color: #ccff02;
  padding: 16px 32px;
  text-decoration: none;

  margin: 4px 2px;
  margin-left: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  transition: all 0.5s ease-out;
  background: #ccff02;
  color: #2c3e50;
}
input[type="text"] {
  font-size: 20pt;
  border: none;
  border-bottom: 2px solid #ccff02;
  padding: 12px 20px;
  margin: 8px 0;
}
/* css for level buttons */
.gameplay-sel{
  display: flex;
  justify-content: center;
  position: relative;
  top: 400px; 
  width: 30%;
  margin: 0 auto;
}
.btn {
	justify-content: center;
    width: 400px;
    height: 75px;
    appearance: none;
    background-color: transparent;
    border: 3px solid #ccff02;
    border-radius: 0.6em;
    color: #ccff02;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
	text-decoration: none;
  }
.btn:hover,.btn:focus {
      color: #2c3e50;
      outline: 0;
	  text-decoration: none;
	  font-weight: 550;
    }
.level {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
.level:hover {
      box-shadow: 0 0 40px 40px #ccff02 inset;
    }
/* typing */
.playlevels {
	position: relative;
	top: 200px; 
	width: 248px;
	margin: 0 auto;
}
.playlevels p {
  justify-content: center;
  color: #ccff02;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  border-right: .50em solid #fff; 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: type 3.5s steps(10, end), flicker .75s step-end infinite;
}

@keyframes type {
  from { width: 0 }
  to { width: 100%; }
}

@keyframes flicker {
  from,to { border-color: transparent }
  
  50% { border-color: #fff }
}
/* css for hint pop up */
.hbutton {
  font-size: 1em;
  padding: 10px;
  margin: 0 auto;
  color: #ccff02;
  cursor: pointer;

  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border: 2px solid #ccff02;
  border-radius: 0.6em;
  text-decoration: none;
  font-weight: 700;
  position: fixed;
  float: right;
}
.hbutton:hover {
  background: #ccff02;
  color: #2c3e50;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.overlay {
  position: fixed;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  color: #2c3e50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ccff02;
  border-radius: 5px;
  width: 30%;
  position: relative;
  top: 600px;
  right: 30px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 350ms;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
  color: #2c3e50;
}
.popup .close:hover {
  color: #ccff02;
  font-weight: 900;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup p {
  margin-top: 0;
  color: #2c3e50;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}


.letter {
  flex: 1;
  max-width: 25px;
  font-size: 30pt;
  text-align: center;
  font-weight: 500;
}
.shiftdown {
  margin-top: 35px;
}
.background {
  background-color: #263646;
}
